<section class="auth bg-base d-flex flex-wrap">

  <div class="auth-left d-lg-block d-none">

    <div class="d-flex align-items-center flex-column h-100 justify-content-center">

      <img src="/images/auth/auth-img.png" alt="">

    </div>

  </div>

  <div class="auth-right py-32 px-24 d-flex flex-column justify-content-center">

    <div class="max-w-464-px mx-auto w-100">

      <app-language-switcher></app-language-switcher>

      <div>

        <a href="index.html" class="mb-40 max-w-290-px">
          <img src="/images/logo.png" alt="">
        </a>

        <h4 class="mb-12">{{ 'MESS_19' | translate }}</h4>

        <p class="mb-32 text-secondary-light text-lg" *ngIf="!resetPasswordConfirmed && email.length == 0 && token.length == 0">{{ 'MESS_24' | translate }}</p>

      </div>

      <div *ngIf="resetPasswordConfirmed">

        <p class="mb-32 text-secondary-light text-lg">

          {{resetPasswordConfirmedMessage}}

        </p>

      </div>

      <form *ngIf="!resetPasswordConfirmed">

        <div class="icon-field mb-16">

          <span class="icon top-50 translate-middle-y">

            <iconify-icon icon="mage:email"></iconify-icon>

          </span>

          <input [(ngModel)]="email" type="email" placeholder="{{ 'MESS_7' | translate }}" class="form-control h-56-px bg-neutral-50 radius-12" [ngClass]="{'is-invalid': hasError('email')}" name="email">

        </div>

        <div class="position-relative mb-20">

          <div class="icon-field">

            <span class="icon top-50 translate-middle-y">

              <iconify-icon icon="solar:lock-password-outline"></iconify-icon>

            </span>

            <input [(ngModel)]="token" placeholder="{{ 'MESS_20' | translate }}" class="form-control h-56-px bg-neutral-50 radius-12" name="token" [ngClass]="{'is-invalid': hasError('token')}">

          </div>

        </div>

        <div class="position-relative mb-20">

          <div class="icon-field">

            <span class="icon top-50 translate-middle-y">

              <iconify-icon icon="solar:lock-password-outline"></iconify-icon>

            </span>

            <input [(ngModel)]="password" [attr.type]="showHidePassword ? 'text' : 'password'" placeholder="{{ 'MESS_21' | translate }}" class="form-control h-56-px bg-neutral-50 radius-12" name="password" [ngClass]="{'is-invalid': hasError('password')}">

          </div>

          <span class="toggle-password ri-eye-line cursor-pointer position-absolute end-0 top-50 translate-middle-y me-16 text-secondary-light" [ngClass]="{'ri-eye-off-line': showHidePassword}" (click)="togglePassword()"></span>

        </div>

        <div class="position-relative mb-20">

          <div class="icon-field">

            <span class="icon top-50 translate-middle-y">

              <iconify-icon icon="solar:lock-password-outline"></iconify-icon>

            </span>

            <input [(ngModel)]="password_confirmation" placeholder="{{ 'MESS_22' | translate }}" [attr.type]="showHidePassword ? 'text' : 'password'" class="form-control h-56-px bg-neutral-50 radius-12" name="password_confirmation" [ngClass]="{'is-invalid': hasError('password')}">

          </div>

        </div>

        <div class="d-flex flex-column gap-2 mt-20" *ngIf="getErrors().length > 0">

          <div class="alert alert-danger bg-danger-100 text-danger-600 border-danger-100 px-24 py-11 mb-0 fw-semibold text-lg radius-8" role="alert" *ngFor="let key of getErrors()">
            <span class="fw-medium text-danger-600 text-sm mt-8">{{ errors.messages[key] }}</span>
          </div>

        </div>

        <button type="submit" class="btn btn-primary text-sm btn-sm px-12 py-16 w-100 radius-12 mt-32" (click)="resetPassword()">{{ 'MESS_23' | translate }}</button>

      </form>

      <a *ngIf="resetPasswordConfirmed" [routerLink]="'/login'" class="btn btn-primary text-sm btn-sm px-12 py-16 w-100 radius-12 mt-32">{{ 'MESS_10' | translate }}</a>

      <div *ngIf="!resetPasswordConfirmed" class="mt-120 text-center text-sm">
        <p class="mb-0">{{ 'MESS_26' | translate }} <a [routerLink]="'/login'" class="text-primary-600 fw-semibold">{{ 'MESS_10' | translate }}</a></p>
      </div>

    </div>

  </div>

</section>
